extends layout

block content
    h1= 'Use arrow keys to move the tank (hold shift for "turbo")'
    canvas(id="tank-canvas")
    script(type='text/javascript', src='javascripts/jquery-2.0.3.js')
    script(type='text/javascript', src='javascripts/canvas-game.js')